
#drop-down-item:hover div {
  outline: 0.6px solid #7C5DFA;
 
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}

.invoice_box_paid, .invoice_box_dark_paid {
  background-color: #33D69F;
}
.invoice_box_pending, .invoice_box_dark_pending {
  background-color: #FF8F00;
}

.invoice_box_draft {
  background-color: #0C0E16;
}

.invoice_box_dark_draft {
  background-color: #DFE3FA;
}

.invoice_paid, .invoice_dark_paid {
  background-color:rgba(151, 151, 151, 0.2);
  color: #33D69F;
  border-radius: 0.4rem;

}


.invoice_pending, .invoice_dark_pending {
  background-color:  rgba(222, 226, 250, 0.2) ; 
  color: #FF8F00;
  border-radius: 0.4rem;
}

.invoice_draft, .invoice_dark_draft {
  background-color: rgba(166, 175, 228,0.2);
  color: #0C0E16;
  border-radius: 0.4rem;

}

.invoice_dark_draft {
  color:#DFE3FA;
}
